<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<dict>
		<key>cn</key>
		<string>deploystudio</string>
		<key>dstudio-auto-disable</key>
		<string>NO</string>
		<key>dstudio-auto-reset-workflow</key>
		<string>NO</string>
		<key>dstudio-bootcamp-windows-computer-name</key>
		<string></string>
		<key>dstudio-bootcamp-windows-product-key</key>
		<string></string>
		<key>dstudio-disabled</key>
		<string>NO</string>
		<key>dstudio-group-hosname-index-first-value</key>
		<integer>1</integer>
		<key>dstudio-group-hosname-index-length</key>
		<integer>1</integer>
		<key>dstudio-group-name</key>
		<string>Default</string>
		<key>dstudio-host-delete-other-locations</key>
		<string>NO</string>
		<key>dstudio-host-interfaces</key>
		<dict>
			<key>en0</key>
			<dict>
				<key>dstudio-dns-ips</key>
				<string></string>
				<key>dstudio-host-airport</key>
				<string>NO</string>
				<key>dstudio-host-airport-name</key>
				<string></string>
				<key>dstudio-host-airport-password</key>
				<string></string>
				<key>dstudio-host-auto-config-proxy</key>
				<string>NO</string>
				<key>dstudio-host-auto-config-proxy-url</key>
				<string></string>
				<key>dstudio-host-auto-discovery-proxy</key>
				<string>NO</string>
				<key>dstudio-host-ftp-proxy</key>
				<string>NO</string>
				<key>dstudio-host-ftp-proxy-port</key>
				<string></string>
				<key>dstudio-host-ftp-proxy-server</key>
				<string></string>
				<key>dstudio-host-http-proxy</key>
				<string>NO</string>
				<key>dstudio-host-http-proxy-port</key>
				<string></string>
				<key>dstudio-host-http-proxy-server</key>
				<string></string>
				<key>dstudio-host-https-proxy</key>
				<string>NO</string>
				<key>dstudio-host-https-proxy-port</key>
				<string></string>
				<key>dstudio-host-https-proxy-server</key>
				<string></string>
				<key>dstudio-host-interfaces</key>
				<string>en0</string>
				<key>dstudio-host-ip</key>
				<string></string>
				<key>dstudio-router-ip</key>
				<string></string>
				<key>dstudio-search-domains</key>
				<string></string>
				<key>dstudio-subnet-mask</key>
				<string></string>
			</dict>
		</dict>
		<key>dstudio-host-location</key>
		<string></string>
		<key>dstudio-host-new-network-location</key>
		<string>NO</string>
		<key>dstudio-hostname</key>
		<string>deploystudio</string>
		<key>dstudio-serial-number</key>
		<string></string>
		<key>dstudio-xsan-license</key>
		<string></string>
	</dict>
	<key>_dss_default</key>
	<dict>
		<key>dstudio-group-default-group-name</key>
		<string>Default</string>
		<key>dstudio-group-name</key>
		<string>_dss_default</string>
	</dict>
</dict>
</plist>
